.navbar-brand h1{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
}
.card{
    margin-bottom: 30px;
    background-color: gray;
}
#nav-list a{
    text-align: center;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}